<% provide :game_id, @game.id.to_s %>
<% provide :game_state, @game_state.state %>
<style>
.number:hover {
  background-color: hsl(<%= @player_hue %>, 100%, 85%);
}

.number--active {
  background-color: hsl(<%= @player_hue %>, 100%, 50%);
}
</style>
<% if @game.winner.present? %>
  <div class="winner-screen">
    <div class="winner">
      <%= player_tag(@game.winner) %>
    </div>
  </div>
<% else %>
  <div class="game">

    <header>
      <div class="game-number">Game <%= @game.id %></div>
      <div class="game-state"><%= @game_state.name %></div>
      <div class="last-game-number-wrapper last-game-number" style="display: none"><%= @game.drawn_numbers.last %></div>
    </header>

    <% unless @game_state.finished? %>
      <div class="bingo-container">
        <table class="bingo">
          <% @participation.numbers.in_groups_of(3).transpose.each do |row| %>
            <tr>
              <% row.each do |number| %>
                <% if number.present? %>
                  <td class="number"><%= link_to number, game_mark_number_path(@game, number: number), 'data-mark-number' => number %></td>
                <% else %>
                  <td class="number--absent">&nbsp;</td>
                <% end %>
              <% end %>
            </tr>
          <% end %>
        </table>

        <%= button_to 'BINGO', game_bingo_path(@game), method: :POST, class: 'win-button', style: 'display: none;' %>
      </div>
    <% end %>

    <div class="meta">
      <h3>
        Players
        <span class="count">
          (<span class="players-count"><%= @game.participations.count %></span>)
        </span>
      </h3>
      <div class="players-list"></div>
    </div>
  </div>
<% end %>
