<% provide :game_id, @game.id.to_s %>

<h2>Game #<%= @game.id %></h2>

<h3>State: <%= @game_state.name %></h3>

<h3>Players: <%= @game.participations.count %></h3>

<h3 >Last number: <span class="last-game-number"> <%= @game.drawn_numbers.last %></span></h3>

<style>
  .number:hover, .number--active {
    background-color: <%= @color %>
  }
</style>

<table>
  <% @participation.numbers.in_groups_of(3).transpose.each do |row| %>
    <tr>

    <% row.each do |number| %>
      <% if number.present? %>
        <td class="number"><%= link_to number, game_mark_number_path(@game, number: number), 'data-mark-number' => number %></td>
      <% else %>
        <td class="number--absent">&nbsp;</td>
      <% end %>
    <% end %>
    </tr>
  <% end %>
</table>

<%= button_to "Fuckin' BINGO", game_bingo_path(@game), :method => :POST, :class => 'bingo', :style => 'display: none;' %>
