<h2>Welcome To bingo</h2>

<p>Select your user name to begin:</p>

<%= form_for @player_form, :url => player_path do |form| %>
  <div class="errors">
    <%= form.object.errors.full_messages.to_sentence %>
  </div>

  <%= form.label :name %>
  <%= form.text_field :name %>

  <%= form.submit "Let's bingo" %>
<% end %>
