<!DOCTYPE html>
<html>
<head>
  <title>BingoBango</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body data-game-id="<%= yield :game_id %>" data-game-state="<%= yield :game_state %>">

<%= render :partial => 'layouts/flash' %>
<%= yield %>

</body>
</html>
